{% extends "base.html" %}
{% load bootstrap%}

{% block main %}



    <h1>Lista movimentos mensalistas {{movmensalista}}</h1>

    {% for movmensalista in movmensalistas %}
        <ul>
            <a href="{% url 'core_movmensalista_update' movmensalista.id %}">{{movmensalista}}</a>
                    
        </ul>
    {% endfor %}

    <h2>Cadastro de Movimentos mensalistas</h2>

    <form action="{% url 'core_novo_movmensalista' %}" method="POST">
        {% csrf_token %}
        {{forms|bootstrap}}
        <button type="submit" class="btn btn-primary">Cadastrar</button>
    </form>

{% endblock  %}